<script type="text/javascript">

{{! Your Disqus shortname }}
var disqus_shortname = 'mon-ngon-viet'; // Replace "examplename" with your disqus short name

{{! Editor's Pick }}
var editors_tag = '/editors-pick';
var editors_tag_post_count = 5;

{{! Facebook Page URL }}
var fb_page_url = 'https://www.facebook.com/women.are.beautiful.vn';

{{! Mailchimp Settings }}
var mcform_url = 'http://kagai.us11.list-manage1.com/subscribe?u=95bc93fe25d1f1c5335c6d447&id=7fa2a51c5c';
var msg_success = 'Please check your inbox to activate your subscription. Thanks!';

{{! Footer Social Media Link Settings }}
var cp_youtube = '';
var cp_instagram = '';
var cp_twitter = '';
var cp_googleplus = '';
var cp_facebook = 'https://www.facebook.com/women.are.beautiful.vn';

var disqus_config = function () {
    this.language = "vi";
};
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37275461-7', 'auto');
    ga('send', 'pageview');

</script>

<meta name="poptm" content="5439a4dcd86d0c0ae4ec9b829be1e6f7" />