<aside class="col-xs-12 col-md-4">
	<div class="cp-sidebar">
		{{!> widget-editorspick}}
		{{> widget-sidebarad}}
		{{!> widget-podcasts}}
		{{> widget-facebook}}
		{{!> widget-contacts}}
	</div>
</aside>