<!-- start header ad -->
<div class="header-ad pull-right">
    <!-- Begin BidVertiser Referral code -->
    <!--<script language="JavaScript">var bdv_ref_pid=742742;var bdv_ref_type='i';var bdv_ref_option='p';var bdv_ref_eb='0';var bdv_ref_gif_id='ref_728x90_black_pbl';var bdv_ref_width=728;var bdv_ref_height=90;</script>-->
    <!--<script language="JavaScript" src="http://cdn.bidvertiser.com/referral_button.html?pid=742742"></script>-->
    <!--<noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher.dbm">make money</a></noscript>-->
    <!-- End BidVertiser Referral code -->
    <!-- PopAds.net Popunder Code for www.vnstreetfood.com -->
    <script type="text/javascript" data-cfasync="false">
//        var _pop = _pop || [];
//        _pop.push(['siteId', 1513648]);
//        _pop.push(['minBid', 0]);
//        _pop.push(['popundersPerIP', 0]);
//        _pop.push(['delayBetween', 0]);
//        _pop.push(['default', false]);
//        _pop.push(['defaultPerDay', 0]);
//        _pop.push(['topmostLayer', false]);
//        (function() {
//            var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
//            var s = document.getElementsByTagName('script')[0];
//            pa.src = '//c1.popads.net/pop.js';
//            pa.onerror = function() {
//                var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
//                sa.src = '//c2.popads.net/pop.js';
//                s.parentNode.insertBefore(sa, s);
//            };
//            s.parentNode.insertBefore(pa, s);
//        })();
    </script>
    <!-- PopAds.net Popunder Code End -->
</div>
<!-- end header ad -->