<!-- start widget -->
<section class="widget">
	<span><h5>Advertisement</h5></span>
	<div class="advert">
        <!-- Begin BidVertiser code -->
        <!--<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=742742&bid=1834392" TYPE="text/javascript"></SCRIPT>-->
        <!-- End BidVertiser code -->
    </div>
</section>
<!-- end widget -->