{{!< default}}

{{! author profile }}
{{#author}}
	<section id="author-profile" class="author-profile" {{#if cover}} style="background-image: url({{cover}});" {{/if}}>
		<div class="container">
			<div class="row">
			<div class="light-overlay"></div>
				<div class="col-xs-12 col-md-2 author-img">
					{{#if image}}
						<img src="{{image}}" class="author-img-avatar" alt="{{name}}" title="{{name}}" />
					{{else}}
						<img src="{{asset "images/no-image.jpg"}}" class="author-img-avatar"  />
					{{/if}}
				</div>
				<div class="col-xs-12 col-md-8">
					<div class="author-details">
						<h3>{{name}}</h3>
						{{#if bio}}
							<div class="author-bio">{{bio}}</div>
						{{/if}}
					</div>
				</div>
				<div class="col-xs-12 col-md-2">
					<div class="author-meta">
						<div class="post-count">
							<i class="glyphicon glyphicon-list-alt"></i>
							{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
						</div>
						{{#if location}}
							<div class="location"><i class="glyphicon glyphicon-map-marker"></i>{{location}}</div>
						{{/if}}
						{{#if website}}
							<div class="website"><a href="{{website}}" target="_blank"><i class="glyphicon glyphicon-link"></i>Website</a></div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</section>
{{/author}}

{{! main body post loop }}
<section id="main-body">
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="row">
				{{#foreach posts}}
					<article class="col-sm-12 post-other-list">
						<div class="row">
							<div class="col-sm-4 post-image">
								{{#if image}}
									<a href="{{url}}" alt="{{{title}}}" title="{{{title}}}"><img src="{{image}}" /></a>
								{{else}}
									<a href="{{url}}" alt="{{{title}}}" title="{{{title}}}"><img src="{{asset "images/no-image.jpg"}}" /></a>
								{{/if}}
								{{#if featured}}
									<div class="cp-featured"><i class="glyphicon glyphicon-flash"></i></div>
								{{/if}}
							</div>
							<div class="col-sm-8 post-content">
								<h3><a href="{{url}}" alt="{{{title}}}" title="{{{title}}}">{{{title}}}</a></h3>
								<div class="post-excerpt">
									<p>{{excerpt characters="120"}}&hellip;</p>
								</div>
								<div class="meta-info">
									{{#author}}
									<span class="author">
										<i class="fa fa-user"></i>
										<a href="{{url}}" title="{{name}}" alt="{{name}}">{{name}}</a>
									</span>
									{{/author}}
									<span class="date">
										<i class="fa fa-clock-o"></i>
										{{date timeago="true"}}
									</span>
									<span class="comment">
										<i class="fa fa-comment"></i>
										<a href="{{url}}#disqus_thread">0 Bình luận</a>
									</span>
								</div>
							</div>
						</div>
					</article>
				{{/foreach}}
			</div>
			{{pagination}}
		</div>
		{{> sidebar}}
	</div>
</div>
</section>
