{{!< default}}
{{! home page body post loop }}
<section id="main-body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="row">
					{{#foreach posts columns=3}}
						{{#if @rowStart}}
						<article class="col-md-12 post-one">
							{{#if image}}
                                <a href="{{url}}" alt="{{{title}}}" title="{{{title}}}" style="background-image: url({{image}});"></a>
							{{else}}
                                <a href="{{url}}" alt="{{{title}}}" title="{{{title}}}" style="background-image: url({{asset "images/no-image.jpg"}});"></a>
							{{/if}}
							<div class="post-content">
								{{#if "tags"}}
									<div class="tags">{{tags separator=" | "}}</div>
								{{/if}}
								<div class="postone-title">
									<h2><a href="{{url}}" alt="{{{title}}}" title="{{{title}}}">{{{title}}}</a></h2>
								</div>
								<div class="meta-info">
									{{#author}}
									<span class="author">
										<i class="fa fa-user"></i>
										<a href="{{url}}">{{name}}</a>
									</span>
									{{/author}}
									<span class="date">
										<i class="fa fa-clock-o"></i>
										{{date timeago="true"}}
									</span>
									<span class="comment">
										<i class="fa fa-comment"></i>
										<a href="{{url}}#disqus_thread">0 Bình luận</a>
									</span>
								</div>
							</div>
							{{#if featured}}
								<div class="cp-featured"><i class="glyphicon glyphicon-flash"></i></div>
							{{/if}}
						</article>
						{{else}}
						<article class="col-md-6 post-other">
							{{#if image}}
								<a href="{{url}}" alt="{{{title}}}" title="{{{title}}}" style="background-image: url({{image}});"></a>
							{{else}}
								<a href="{{url}}" alt="{{{title}}}" title="{{{title}}}" style="background-image: url({{asset "images/no-image.jpg"}});"></a>
							{{/if}}
							<div class="post-content">
								<h3><a href="{{url}}" alt="{{{title}}}" title="{{{title}}}">{{{title}}}</a></h3>
								<div class="meta-info clearfix">
									<span class="date pull-left">
										<i class="fa fa-clock-o"></i>
										{{date timeago="true"}}
									</span>
									<span class="comment pull-right">
										<i class="fa fa-comment"></i>
										<a href="{{url}}#disqus_thread">0 Bình luận</a>
									</span>
								</div>
							</div>
							{{#if featured}}
								<div class="cp-featured"><i class="glyphicon glyphicon-flash"></i></div>
							{{/if}}
						</article>
						{{/if}}
					{{/foreach}}
				</div>
				{{pagination}}
			</div>
			{{> sidebar}}
		</div>
	</div>
</section>