.slick-prev:before, .slick-next:before{
    color:#fe0000;
}

.slickSlider{
    /*padding: 0 30px;*/
}

.slickSlider1 img:hover{
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
.slickSlider1 img{
    padding: 5px;
    border: solid 1px #EFEFEF;
}

.slickSlider1 img + img{
    margin-top: 20px;
}