
/* ------- General ------- */
html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
	color:#000000;
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 1.5rem;
    line-height: 140%;
    font-family: 'PT Sans', arial, sans-serif;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}

iframe {
  display: block;
  border: 0;
}

#main-body {
	display: block;
	position: relative;
	margin: 3.2rem 0;
}

.light-overlay,
.dark-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.light-overlay {
	background-color: rgba(255,255,255,0.8)
}

.dark-overlay {
	background-color: rgba(0,0,0,0.8)
}

/* ------- Text Hierarchy ------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', arial, sans-serif;
	font-weight: normal;
	-ms-word-wrap: break-word;
	word-wrap: break-word;  
}

h1{
	font-size:3.6rem;
}

h2{
	font-size:3rem;
}

h3{
	font-size:2.4rem;
}

h4{
	font-size:1.8rem;
}

h5{
	font-size:1.4rem;
}

h6{
	font-size:1.2rem;
}

p{
	font-size: 1.6rem;
    line-height: 150%;
    margin-bottom: 1.6rem;
}

blockquote {
  border-color: #ff540e;
  background: #f7f7f7;
}

blockquote footer {
  padding: 0;
  background: transparent;
}

cite {
  display: block;
  font-size: 1.4rem;
  font-style: italic;
}

/* ------- Header ------- */
.cp-branding {
	padding: 2rem 0;
	position: relative;
	display: block;
	background: #ebebeb;
}

@media screen and ( max-width: 728px ) {
	.cp-branding {
		padding: 1rem 0;
	}
}

.cp-branding h1 {
	margin: 0;
}

.cp-branding img {
	max-height: 100px;
	padding: 5px 0;
}

.cp-branding .header-ad {
    white-space: nowrap;
    text-align: right;
}

/* ------- navigation ------- */
.navbar-default {
    background-color: #f7f7f7;
    border-color: #e7e7e7;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.navbar {
    border-radius: 0;
	border: none;
	margin-bottom: 0;
}

@media screen and ( min-width: 768px ) {
	.navbar-collapse {
	   padding-left: 0;
	}
}

.navbar-default .navbar-nav li.active a {
	background-color: #ebebeb;
	color: #fe0000;
}

.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li.active a:focus {
	background: #fff;
}

.navbar-default .navbar-nav li a {
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
	background: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fe0000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fe0000;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-toggle {
    border-radius: 2px;
	float: left;
	margin-left: 15px;
}

.cp-navigation {
	position: relative;
	display: block;
}

/* ------- search ------- */

.search-results {
	position: absolute;
	top: 50px;
	right: 15px;
	z-index: 100;
	padding: 15px;
	width: 295px;
	text-align: left;
	opacity: 0;
    visibility: hidden;
	height: auto;
	background: #f7f7f7;
}

@media screen and ( max-width: 768px ) {
	.search-results {
		top: 55px;
		width: 97%;
	}
}

.search-results a,
.search-results a:link {
	color: #000;
}

.search-results a:hover,
.search-results a:visited
 {
	color: #333;
}

.search-results-active .search-results {
    visibility: visible;
    opacity: 1;
}

.cp-search-icon {
	cursor: pointer;
}

.sr-heading {
	font-weight: 700;
	text-transform: uppercase;
}

.input-group-addon {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
	box-shadow: none;
}

/* ------- buttons ------- */

.btn-primary {
    background-color: rgba(254,0,0,0.75);
    color: #fff;
    border: solid 1px #fe0000;
	border-radius: 0;
	font-size: 1.8rem;
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 15px 30px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.btn-primary:hover {
    background-color: #e92c0c;
    border: solid 1px #e92c0c;
}

/* ------- Links ------- */

a {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}

a,
a:link,
a:active,
a:visited {
	color:#fe0000;
	text-decoration:none;
}

a:hover{
	color:#e92c0c;
	text-decoration:none;
}

/* ------- Posts ------- */

.featured-image {
	display: block;
	margin-bottom: 1.6rem;
}

.tags,
.meta-info {
	font-size: 1.3rem;
    line-height: 150%;
    margin-bottom: 2.6rem;
}

.tags {
	text-transform: uppercase;
}

h1 a,
h1 a:link,
h1 a:active,
h1 a:visited,
h2 a,
h2 a:link,
h2 a:active,
h2 a:visited,
h3 a,
h3 a:link,
h3 a:active,
h3 a:visited,
h4 a,
h4 a:link,
h4 a:active,
h4 a:visited,
h5 a,
h5 a:link,
h5 a:active,
h5 a:visited,
h6 a,
h6 a:link,
h6 a:active,
h6 a:visited {
	color: #000000;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color:#e92c0c;
}

.tags,
.meta-info,
.tags a,
.meta-info a,
.tags a:link,
.tags a:active,
.meta-info a:active,
.meta-info a:link,
.tags a:visited {
	color: #999999;
}

.tags a:hover {
	color:#e92c0c;
}

.meta-info span {
	white-space: normal;
    margin-right: 15px;
}

.meta-info span:last-child {
	margin-right: 0px;
}

.post-one {
	position: relative;
	display: block;
	margin-bottom: 1.6rem;
}

.post-one .post-content {
	position: absolute;
	bottom: 10px;
	left: 25px;
	width: 75%;
}

.postone-title {
	background: rgba(255,255,255,0.7);
	padding: 20px 10px;
	border-top: 2px solid #fe0000;
	border-bottom: 2px solid #fe0000;
}

.post-one .tags, .post-one .meta-info {
    margin-bottom: 0;
	color: #ffffff;
	display: inline-block;
	padding: 5px 10px;
	background: #fe0000;
}

@media screen and ( max-width: 400px ) {
	.post-one .tags, .post-one .meta-info {
		display: none;
	}
}

.post-one h2 {
	margin: 0px;
}

.post-one .tags,
.post-one .meta-info,
.post-one .tags a,
.post-one .meta-info a,
.post-one .tags a:link,
.post-one .tags a:active,
.post-one .meta-info a:active,
.post-one .meta-info a:link,
.post-one .tags a:visited,
.post-one .tags a:hover {
	color: #ffffff;
}

.post-other-list {
	margin-bottom: 1.6rem;
}

.post-other-list .meta-info,
.post-other .meta-info {
	padding-top: 10px;
	border-top: 1px solid #fe0000;
}

.post-other-list h3 {
	margin-top: 5px;
}

.post-other h3 {
	margin-bottom: 20px;
}

.post-other > a, .post-one > a{
	background-size: cover;
	background-position: center;
	padding-bottom: 60%;
	display: block;
	width: 100%;
	height: 0;
}

.post-comments {
	display: block;
	position: relative;
	margin: 4rem auto 0;
}

.post-footer {
	margin-top: 1.6rem;
}

.cp-author {
	display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
	margin-top: 1.6rem;
}

.cp-author .author-img {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.cp-author .author-details {
	position: relative;
    padding: 15px;
    z-index: 1;
}

.cp-author .author-img-avatar {
    max-height: 100px;
}

.cp-author .author-meta {
	position: relative;
    padding: 20px 15px;
    z-index: 1;
}

.cp-author .author-meta div {
	white-space: nowrap;
    height: 25px;
    line-height: 25px;
    display: block;
    padding-right: 10px;
    font-size: 1.3rem;
    letter-spacing: 1px;
	margin-bottom: 1.6rem;
    text-transform: uppercase;
}

.cp-author .author-meta i {
	background: #fe0000;
    height: 25px;
    width: 25px;
	margin-right: 5px;
	text-align: center;
    line-height: 25px;
}

.cp-author .author-meta a {
	color: #000;
}

.glyphicon-list-alt:before,
.glyphicon-map-marker:before,
.glyphicon-link:before {
    color: #fff;
}

.cp-social-share {
	font-size: 1.3rem;
	font-style: italic;
}

.cp-social-share .share-text {
	margin-right: 5px;
}

.cp-social-share a {
    margin-left: 5px;
    font-size: 1.5rem;
}

.cp-social-share a:hover {
    color: #fff;
}

.cp-social-share i {
	border: 1px solid #fe0000;
	border-radius: 2px;
    height: 25px;
    width: 25px;
	margin-right: 5px;
	text-align: center;
    line-height: 25px;
}

.cp-social-share i:hover {
	border: 1px solid #fe0000;
	background: #fe0000;
}

.cp-featured {
	position: absolute;
	font-size: 2rem;
	top: 10px;
	right: 25px;
	z-index: 10;
}

.cp-featured i {
	background: #FFFF00;
	border-radius: 100%;
    height: 30px;
    width: 30px;
	color: #fe0000;
	text-align: center;
    line-height: 30px;
}

/* ------- Pagination ------- */
.pagination {
    position: relative;
    width: 100%;
    margin: 4rem auto;
    font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 1px;
    color: #999999;
    text-align: center;
}

.pagination a {
    color: #999999;
	padding: 0.5rem 1.5rem;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

@media screen and ( max-width: 400px ) {
	.pagination {
		font-size: 1.1rem;
	}
	
	.pagination a {
		padding: 0.25rem 0.75rem;
	}
}

.pagination a:hover {
    color: #fff;
}

.older-posts-single,
.newer-posts-single,
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    border: #fe0000 1px solid;
    text-decoration: none;
    border-radius: 2px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.older-posts-single:hover,
.newer-posts-single:hover,
.older-posts:hover,
.newer-posts:hover {
    border: #fe0000 1px solid;
	background: #fe0000;
}

.older-posts {
    right: 0;
}

.older-posts-single {
    left: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

@media screen and ( max-width: 400px ) {
	.page-number {
		display: none;
	}
}

.newer-posts {
    left: 0;
}

.newer-posts-single {
    right: 0;
}

.page footer {
	background: transparent;
	padding-left: 0;
	padding-right: 0;
}

/* ------- Author/ Tag Page ------- */

.tag-header,
.author-profile {
	position: relative;
    width: 100%;
	padding: 3rem;
	background-size: cover;
    background-position: 50% 50%;
}

.author-img-avatar {
    position: relative;
    z-index: 1;
    max-height: 150px;
    margin: 15px;
    display: inline-block;
    border-radius: 100%;
}

.author-details {
	position: relative;
    padding: 15px;
    z-index: 1;
}

.author-meta {
	position: relative;
    padding: 20px 15px;
    z-index: 1;
}

.author-meta div {
	white-space: nowrap;
    height: 25px;
    line-height: 25px;
    display: block;
    padding-right: 10px;
    font-size: 1.3rem;
    letter-spacing: 1px;
	margin-bottom: 1.6rem;
    text-transform: uppercase;
}

.author-meta i {
	background: #fe0000;
    height: 25px;
    width: 25px;
	margin-right: 5px;
	text-align: center;
    line-height: 25px;
}

.author-meta a {
	color: #000;
}

.tag-header span {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.tag-header h1 {
    margin: 10px 0 5px;
	text-transform: capitalize;
}

.tag-description {
	margin-bottom: 0;
}

/* ------- Widgets ------- */

.cp-sidebar .widget {
	display: block;
	position: relative;
	margin-bottom: 2.6rem;
	border-top: 2px solid #fe0000;
}

.cp-sidebar .widget span {
	display: block;
	text-align: center;
}

.cp-sidebar .widget h5 {
	margin: 0 0 1.6rem;
	display: inline-block;
	padding: 10px;
	color: #fff;
	background: #fe0000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.editors-pick h3 {
	margin-top: 0px;
	padding: 40px 10px;
	text-align: center;
}

.editors-pick h3 a {
	color: #fff;
}

.ep-content {
	position: relative;
    width: 100%;
	background-size: cover;
    background-position: 50% 50%;
}

.ep-content-overlay {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: auto;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.ep-content-overlay:hover {
	background-color: rgba(254,0,0,0.5);
}

#cp-contacts {
	background: #f7f7f7;
}

.cp-contacts {
	padding: 0 15px 5px;
}

.cp-contacts i {
	background: #fe0000;
	border-radius: 2px;
    height: 25px;
    width: 25px;
	color: #fff;
	margin-right: 5px;
	text-align: center;
    line-height: 25px;
}

.cp-contacts a {
	color: #000000;
}

.cp-contacts a:hover {
	color: #999999;
}

/* ------- Newsletter ------- */

.cp-signup {
	position: relative;
	padding: 7.5rem 5rem;
	border-top: 2px solid #fe0000;
	border-bottom: 2px solid #fe0000;
	width: 100%;
	background-image: url('../images/newsletter-subscription.jpg');
	background-size: cover;
    background-position: 50% 50%;
}

.cp-signup .newsletter {
    text-align: center;
}

.cp-signup .newsletter h1 {
    letter-spacing: 1px;
    font-weight: 400;
	margin-bottom: 2rem;
}

@media screen and ( max-width: 380px ) {
	.cp-signup {
		padding: 5rem 2.5rem;
	}
	
	.cp-signup .newsletter h1 {
		font-size: 3.3rem;
	}
}

.cp-signup .newsletter p {
    margin-bottom: 3rem;
}

.cp-signup .form-control {
    border: solid 1px #d3d7d9;
	border-radius: 0;
	background-color: rgba(255,255,255,0.5);
	box-shadow: none;
    padding: 25px;
    color: #929292;
    font-style: italic;
    letter-spacing: 1px;
}

/* ------- Footer ------- */

footer {
    background-color: #f7f7f7;
    font-size: 1.4rem;
	padding: 5rem;
}

@media screen and ( max-width: 768px ) {
	footer {
		padding: 2.5rem;
	}
}

footer .footer-links p {
	text-align: left;
	margin-top: 2rem;
}

footer .social-share {
   text-align: right;
}

footer .social-share a {
    height: 6rem;
    width: 6rem;
	color: #fff;
    background-color: #fe0000;
    border-radius: 3px;
    font-size: 2.2rem;
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
	margin-bottom: 1rem;
}

footer .social-share a.twitter-share {
    background-color: #1AB4EF;
}

footer .social-share a.facebook-share {
    background-color: #3B5898;
}

footer .social-share a.googleplus-share {
    background-color: #dc4e41;
}

footer .social-share a.youtube-share {
    background-color: #e52d27;
}

footer .social-share a.instagram-share {
    background-color: #2e5e86;
}

footer .social-share a.rss-subscribe {
    background-color: #f39501;
}

footer .social-share a i {
    line-height: 60px;
}

#ScrollToTop {
    position: fixed;
    right: 30px;
    bottom: 0;
    background: rgba(254, 0, 0, 0.75);
    color: #ffffff;
    text-align: center;
    z-index: 10;
    display: none;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#ScrollToTop:hover {
    background: rgba(254 0, 0, 1);
}

#ScrollToTop i {
    width: 5rem;
    height: 5rem;
	font-size: 3rem;
    line-height: 5rem;
}

/* ------- 404 ------- */
.error-message {
    padding: 5rem;
}

.error-message h1 {
	font-size: 20rem;
	font-weight: 700;
}

.error-message h2 {
	font-size: 5rem;
	font-weight: 400;
	text-transform: uppercase;
}

.error-message a {
	color: #fff;
	margin: 5rem 0 0;
}

